[Unit]
Description=My Script

[Service]
WorkingDirectory=/tmp/my-script/
ExecStart=/tmp/my-script/my-script.sh
EnvironmentFile=/tmp/my-script/env_default.env

[Install]
WantedBy=multi-user.target
