input {
  beats {
    port => "5000"
  }
}

# The filter part of this file is commented out to indicate that it is
# optional.
# filter {
# }

output {
  stdout { codec => rubydebug }
  opensearch {
    hosts => ["http://opensearch:9200"]
    index => "opensearch-logstash-docker-%{+YYYY.MM.dd}"
    # user => "admin"
    # password => "admin"
    ssl => false
    ssl_certificate_verification => false
  }

}
